$lightest: rgb(255,255,255);   /* RGBA doesn't work in IE8- */
$darkest: rgb(0,0,0);
$base-text: rgb(90,90,90);
$menu-bg: rgb(85,85,85);
$link: rgb(245,133,12);
$link-hover: rgb(0,9,96);

/**********************************/
/******** WEB NINJA TAYLOR ********/
/**********************************/
/**********************/
/******** MAIN ********/
/**********************/
body {
    box-sizing: border-box;
    color: $base-text;
    padding: 20px;
    position: relative;
    width: 100%;
}
.brand, h1, h2 {
    font-family: 'Quando', serif;
}
a, a:visited {
    color: $link;
}
a:hover {
    color: $link-hover;
}
/************************/
/******** HEADER ********/
/************************/
header {
    position: relative;
}
#logo {
    float: left;
}
.search {
    float: right;
    width: 300px;
}
.gsc-input {
    background-image: none !important;
}
/**********************/
/******** MENU ********/
/**********************/
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background-color: #f5850c;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #f5850c;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-top: 20px;
    margin-bottom: -90px; 
    background-color: #FFF;
}
.navbar .navbar-inner {
    border: 0;
    background-color: #ffffff;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #f5850c;
    text-decoration: none;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
    padding: 15px 20px;
}
/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
    margin-top: 10px;
}
/*************************/
/******** CONTENT ********/
/*************************/
.bullets {
    margin: 10px 0 10px 10px;
    padding-left: 40px;
}
article {
    background-color: $lightest;
    overflow: hidden;
    padding: 10px 40px;
}
#cycler {
    height: 400px;
    width: 600px;
}
#cycler img {
    position: absolute;
    z-index: 1;   /* No need to adjust */
}
#cycler img.active {
    z-index: 3;   /* No need to adjust */
}
.tooltiptest {
    cursor: pointer;
}
.tooltip, .layered-content {
    display: none;
}
.featurette-divider {
    margin: 50px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
    padding-top: 50px; /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    margin-right: 40px;
}
.featurette-image.pull-right {
    margin-left: 40px;
}
/* Thin out the marketing headings */
.featurette-heading {
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
.h3-icon {
    position: relative;
    top: 6px;
}
/************************/
/******** FOOTER ********/
/************************/
footer {
    margin-top: 20px;
}
/***********************************/
/******** RESPONSIVE DESIGN ********/
/***********************************/
@media (max-width: 979px) {
    .carousel .item {
        height: 500px;
    }
    .carousel img {
        top: 100px;
        width: auto;
    }
    .carousel-caption {
        padding: 0 70px;
    }
    .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
    }
    .navbar-inner {
        border-radius: 0;
        margin: 0 0;
    }
    .featurette {
        height: auto;
        padding: 0;
    }
    .featurette-image.pull-left,
    .featurette-image.pull-right {
        display: block;
        float: none;
        margin: 20px auto;
        max-width: 40%;
    }
}
@media (max-width: 767px) {
    .carousel {
        margin-left: -20px;
        margin-right: -20px;
    } 
    .carousel .item {
        height: 300px;
    }
    .carousel img {
        width: auto;
    }
    .carousel-caption {
        margin-top: 120px;
        width: 65%;
    }
    .carousel-caption h1 {
        font-size: 25px;
    }
    .carousel-caption .lead {
        display: none;  
    }
    .featurette-heading {
        font-size: 25px;
    }
}
